/*Colors*/
:root {
  --color-pink: #efa8b0;
  --color-light-purple: #c79cc8;
  --color-darker-purple: #a89cc8;
  --color-light-blue: #8cc9f0;
  --color-darker-blue: #9bb2e1;
  --color-white: #fff;
  --color-off-white: rgb(173, 167, 167);
}
body {
  background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  height: 600vh;
}
/*Layout*/
header {
  text-align: center;
  margin: 0 50px;
}
main {
  background: var(--color-white);
  margin: 0 35px;
  border-radius: 5px;
}
.container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1250px) {
  main {
    margin: 0 70px;
  }
}
/*Typography*/
body {
  font-family: source sans pro, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 300;
}
h1,
h4,
h5 {
  color: var(--color-white);
}
h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2.5rem;
  margin-top: 40px;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
  margin: 0;
}
h5 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
p {
  font-size: 1.5rem;
  margin-top: 0;
  padding: 0 35px;
}
@media screen and (min-width: 750px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1250px) {
  h1 {
    font-size: 6rem;
  }
  p {
    font-size: 2rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 2.7rem;
  }
}
/*Links*/
a {
  border-bottom: 1px dotted var(--color-white);
  color: var(--color-white);
  font-size: 1.7rem;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  border-bottom: none;
  color: rgb(199, 179, 179);
}
/*Icons*/
.icon__list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.icon-container {
  border: 1px solid var(--color-light-blue);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list__icon > a {
  border-bottom: none;
  font-size: 17px;
}
@media screen and (min-width: 1250px) {
  .icon-container {
    height: 50px;
    width: 50px;
  }
  .list__icon > a {
    font-size: 23px;
  }
}
/*Buttons*/
.btn {
  background: none;
  border-radius: 8px;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 12px 25px;
}
.btn--primary {
  transition: background 0.3s;
}
.btn--primary:hover {
  background: rgb(245, 245, 245);
}
.btn--secondary {
  background: var(--color-light-blue);
  border: none;
  color: var(--color-white);
  transition: background 0.3s;
}
.btn--secondary:hover {
  background: #6bb8e7;
}
.btn--footer {
  color: var(--color-white);
  transition: background 0.3s;
}
.btn--footer:hover {
  background: #e98691;
}
@media screen and (min-width: 750px) {
  .btn {
    padding: 13px 40px;
  }
}
@media screen and (min-width: 1250px) {
  .btn {
    font-size: 1.8rem;
    padding: 15px 45px;
  }
}
/*Hero*/
.hero__logo-container {
  display: flex;
  justify-content: center;
}
.hero__logo {
  margin-top: 100px;
}
.hero__header {
  display: block;
}
.hero__text {
  color: var(--color-white);
}
/*info*/
.info {
  border-bottom: 1px solid var(--color-off-white);
  height: 600px;
  margin-top: 40px;
  text-align: center;
}
.info__img-container {
  border-radius: 100%;
  border: 2px solid var(--color-off-white);
  margin-top: 70px;
  padding: 5px;
}
.info__img {
  background-size: cover;
  background: 50% 50% url(../Images/phone.jpg) no-repeat;
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
.info__btn {
  margin-top: 20px;
}
@media screen and (min-width: 975px) {
  .info {
    align-items: center;
    display: flex;
    height: 400px;
    margin-top: 70px;
  }
  .info__grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    justify-items: center;
  }
  .container {
    grid-column: 2;
    grid-row: span 2;
  }
  .info__header {
    grid-row: 1;
  }
}
@media screen and (min-width: 1250px) {
  .info__img {
    height: 260px;
    width: 260px;
  }
}
/*Offers*/
.offer {
  border-bottom: 1px solid var(--color-off-white);
  height: 980px;
  text-align: center;
}
.offer__icon-container {
  border-radius: 100%;
  border: 2px solid var(--color-off-white);
  padding: 5px;
}
.offer__icon {
  align-items: center;
  border-radius: 100%;
  border: 2px solid var(--color-off-white);
  color: var(--color-pink);
  display: flex;
  font-size: 60px;
  height: 116px;
  justify-content: center;
  width: 116px;
}
.offer__btn {
  margin-top: 20px;
}
@media screen and (min-width: 750px) {
  .offer {
    height: 850px;
  }
  .offer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .offer__container {
    margin-top: 40px;
  }
}
