/*Colors*/
:root {
  --color-pink: #efa8b0;
  --color-light-purple: #c79cc8;
  --color-darker-purple: #a89cc8;
  --color-light-blue: #8cc9f0;
  --color-darker-blue: #9bb2e1;
}
body {
  background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  height: 600vh;
}
/*Typography*/
body {
  font-family: source sans pro, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 300;
}
h1,
h3,
h4 {
  color: #fff;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 2.3rem;
}
p {
  font-size: 1.5rem;
}
