<ul class="icon__list">
  <div class="icon-container">
    <li class="list__icon">
      <a href="">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
  </div>
  <div class="icon-container">
    <li class="list__icon">
      <a href="">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
  </div>
  <div class="icon-container">
    <li class="list__icon">
      <a href="">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </div>
  <div class="icon-container">
    <li class="list__icon">
      <a href="">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </div>
  <div class="icon-container">
    <li class="list__icon">
      <a href="">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
  </div>
</ul>
